/* CSS Reset */

.hide {
    display: none;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    img{
        width: 100%;
        height: auto;
    }
}

.dk{
    display: none;
}

/* MOBILE SITE */
    @media (min-width: 430px){    /* Gemmer tablet og desktop menu */
        .tablet_menu, .desktop_menu{
            display: none;
        }
    
        .phone_menu{
            display: block;
        }
    
        div, section{
            padding-bottom: 25px;
        }
    
    
    
    
        h1, h2, h3,p {
            padding-bottom: 5px;
        }
    
        html, body{
            max-width: 100%;
            /* overflow-x: hidden; */
        }
    
        main, section{
            padding: 0 0 125px 0;
        }
    
        /* 
        body{
            padding: 0px 15px 125px 15px;
        } */
    
        /* MOBILE MENU */
            .phone_menu{
                background: linear-gradient(180deg, #FFF 0%, #C2CBD2 100%);
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                position: fixed;
                bottom: 0px;
                padding: 7px 55px 7px 55px;
                /* padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 85px;
                padding-right: 85px; */
                gap: 15px;
                img{
                    border: 2px solid #A7B2C8;
                    border-radius: 10px;
                }
            }
    
    
        body{
            margin-bottom: 100px;
            background-color: #E8EAE9;
        }
    
        /* Index LANDING PAGE */
    
        .bio1{
            padding-bottom: 0px;
            h1{
                font-size: 70px;
                padding-top: 30px;
            }
            ul{
                padding-left: 20px;
            }
        }
    
        .bio2{
            padding-top: 10px;
            ul{
                padding-left: 20px;
            }
            p{
                padding-top: 10px;
            }
        }
    
        .get_in_contact{
    
        }
    
        .get_in_contact_aboutme{
            p{
                padding-left: 20px;
                padding-top: 10px;
            }
        }
    
        .get_in_contact_btn{
            display: flex;
            justify-content: center;
            button{
            width: 250px;
            height: 50px;
            border: 2px solid #A7B2C8;
            border-radius: 0px;
            background: linear-gradient(180deg, #FFF 0%, #C2CBD2 100%);
                text-align: center;
                color: #4F6483;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 10px 10px 65px rgba(255, 255, 255, 0.25);
                font-family: Dune_Rise;
                font-size: 21px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.63px;
            }
        }
    
    
        /* ABOUT ME */
    
    
    
    
        .aboutme_sidepanel{
            border-radius: 25px;
            border: 2px solid #A7B2C8;
            background: linear-gradient(180deg, #FFF 0%, #C2CBD2 100%);
            padding-bottom: 10px;
            padding-top: 20px;
            p{
                padding-left: 20px;
                color: #35B4EE;
                font-weight: 700;
                font-size: 27px;
            }
        }
    
    
        .aboutme_introduction{
            text-align: center;
            margin-left: auto;
            margin-top: auto;
        }
        
       
    
        .aboutme_mainpanel{
            h2{
                text-align: center;
                margin-left: auto;
                margin-right: ;
            }
        }
    
        .education{
            padding-top: 20px;
            margin-bottom: 10px;
            border-radius: 25px;
            background: linear-gradient(180deg, #FFF 0%, #C2CBD2 100%);
            box-shadow: -23px -23px 45px 0px #FFF, -23px -23px 45px 0px #FFF, 28px 28px 50px 0px rgba(13, 39, 80, 0.16), 28px 28px 50px 0px rgba(13, 39, 80, 0.16);
            padding-left: 20px;
        }
    
        .education_intro{
            padding-top: 25px;
        }
    
        .goals{
            border-radius: 25px;
            background: linear-gradient(180deg, #FFF 0%, #C2CBD2 100%);
            box-shadow: -23px -23px 45px 0px #FFF, -23px -23px 45px 0px #FFF, 28px 28px 50px 0px rgba(13, 39, 80, 0.16), 28px 28px 50px 0px rgba(13, 39, 80, 0.16);
            p,li{
                padding-left: 20px;
                padding-right: 20px;
                list-style: none;
            }
            li{
                padding-top: 20px;
            }
        }
    
        /* PORTFOLIO */
        .portfolio_buttons{
            img, button{
                height: 365px;
                width: 140;
            }
        }
    
        .backToTopDiv{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 125px;
        }
    
        .backToTop{
            font-size: 20px;
            border-radius: 10px;
            background: #E8EAE9;
            box-shadow: -23px -23px 45px 0px #FFF, -23px -23px 45px 0px #FFF, 28px 28px 50px 0px rgba(13, 39, 80, 0.16), 28px 28px 50px 0px rgba(13, 39, 80, 0.16);
            height: 100px;
            width: 250px;
        }
    
        .portfolio_section{
            padding-top: 0px;
        }
    
        .iframe_container{
            /* position: relative; */
        overflow: hidden;
        height: 500px;
        width: 100%;
        /* padding-top: 56.25%; 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        }
    
        .iframe_sprite{
            width: 100%;
            height: 100%;
        }
    
        /* Contact Me */
        
    
        .form_text{
            text-align: center;
            h1{
                padding-top: 50px;
            }
        }
    
        label,
        input,
        button {
        display: block;
        margin-top: 25px;
        border-radius: 10px;
        border: 0;
            }
    
            input{
                font-family: inter;
            }
    
            form {
            display: grid;
            }
    
            form input:focus {
            outline: none;
            }
    
            .name,
            .email {
            padding: 7px;
            }
    
            .message {
                height: 111px;
                margin-bottom: 20px;
            }
    
            .name, .email, .message{
                margin-left: 50px;
                margin-right: 50px;
            }
    
            .html_form {
                /* display: flex;
                justify-content: center; */
                border-radius: 25px;
                background: #E8EAE9;
                box-shadow: -28px -28px 100px -6px #FFF, 20px 20px 50px 0px rgba(13, 39, 80, 0.25);
                width: 80%;
                margin: auto;
                
                    button{
                        width: 200px;
                        height: 30px;
                        border: 2px solid #A7B2C8;
                        border-radius: 0px;
                        background: linear-gradient(180deg, #FFF 0%, #C2CBD2 100%);
                            text-align: center;
                            color: #4F6483;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 10px 10px 65px rgba(255, 255, 255, 0.25);
                            font-family: Dune_Rise;
                            font-size: 21px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.63px;
                    }
            
            }
    
            #submit{
                margin: auto;
            }
    
    }

/* TABLET SITE */
@media (min-width: 768px){

        /* Gemmer tablet og desktop menu */
        .phone_menu, .desktop_menu{
            display: none;
        }

        .tablet_menu{
            display: block;
            position: fixed;
            top: 0%;
            left: 95%;
        }

        body{
            margin: 100px 100px 0px 100px;
        }

        /* BURGER MENU */
    /* base styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        color: #4F6483;
        font-size: 50px;
    }
    /* a:visited {
        color: white;
    } */
    a:hover {
        color: #35B4EE;
    }

    body {
        background-color: #E8EAE9;
    }



/* off-screen-menu */
.off-screen-menu {
        background: linear-gradient(180deg, #FFF 0%, #C2CBD2 100%);
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
            a, li{
                font-family: Dune_Rise;
                list-style: none;
                text-decoration: none;
            }
    }
    .off-screen-menu.active {
        right: 0;
    }

    .bio_grid, .img_text, .aboutme_2grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



    .img_text{
        p,ul{
            padding-left: 30px;
        }
    }

    .aboutme_mainpanel{
        padding-left: 60px;
    }

    /* nav */
    nav {
        padding-top: 1rem;
        display: flex;
        /* background-color: rgb(34, 37, 49); */
    }



    /* ham menu */
    .ham-menu {
        height: 50px;
        width: 40px;
        margin-left: auto;
        position: relative;
    }
    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #4F6483;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1) {
        top: 25%;
    }
    .ham-menu span:nth-child(3) {
        top: 75%;
    }
    .ham-menu.active span {
        background-color: #4F6483;
    }
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }


    /* Grids */


    /* LANDING PAGE TAVBLET */
    .bio2{
        text-align: center;
        p{
            font-weight: 800;
            font-size: 30px;
        }
        li{
            list-style-type: none;
        }
    }

    .kea_section{
        li{
        list-style: none;
        padding-left: 0px;
    }

    /* ABOUT ME TABLET */

    .aboutme_2grid{
    padding-top: 25px;
    }

    .aboutme_mainpanelsection{
    display: block;

    }

    .aboutme_introduction{
    text-align: unset;
        h1{
            font-size: 35px;
        }
        
        h3{
            font-size: 30px;
        }
    }

    .aboutme_sidepanel{
        img{
            border-radius: 20px;
        }
    }

    .aboutme_mainpanel{
    h2{
        text-align: left;
        padding-left: 0px;
    }
    }

    .education_list{
    
        p{
            padding-top: 50px;
            padding-bottom: 20px;
        }
    }


    /* PRTFOLIO TABLET */

    .portoflio_title{
        text-align: center;
    }

    .portfolio_section{
        button{
            font-size: 52px;
            padding: 10%;
        }
        a{
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    .portfolio_buttons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 50px;
        margin-bottom: 800px;
    }

    .h1_h2{
        h1{i
            font-size: 800px;
            color: green;
        }
    }

    .text_btn{
        button{
            height: 50%;
        }
    }


    /* CONTACT TABLET */


    main{
    display: grid;
    place-items: center;
    }

    .html_form{
    width: 605px;
    height: 350px;
    border-radius: 25px;
    background: #E8EAE9;
    box-shadow: -28px -28px 100px -6px #FFF, 20px 20px 50px 0px rgba(13, 39, 80, 0.25);
    }
    form {
    border-radius: 8px;
    display: grid;
    height: 315px;
    gap: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
    }

/* DESKTOP SITE */
@media (min-width: 1920px){

    body{
        background-color: #8EAE9;
        margin: 0px 0px 0px 0px;
    }

    main{
        padding: 0px 265px 65px 265px;
    }

    section{
        padding:0px 55px 0px 55px
    }


    /* Gemmer phone & tablet menu */
    .phone_menu, .tablet_menu{
        display: none;
    }

    .tablet_menu{
        display: none;
    }


    /* DESKTOP HEADER */
    .desktop_menu {
        margin-bottom: 100px;
        display: block;
        margin-left: auto; 
        border-radius: 0px 0px 0px 100px;
        background: #E8EAE9;
        box-shadow: 28px 28px 50px 0px rgba(13, 39, 80, 0.16);
        width: 850px;
        text-align: center;
        /* Gør at teksten "About me" ikke line-breaker */
        white-space: nowrap;
        ul{
            list-style-type: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            max-width: 1040px;
            font-style: inter;
            margin-left: auto;
            margin-right: auto
        }
        li{
            width: 200px;
            font-size: 40px;
            padding-left: 0px;
        }
        a{
            color: #4D48C0;
            font-family: Dune_Rise;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
        }

        a:hover{
            color: #35B4EE;
            cursor: pointer;
        }

        nav{
        }

    }

    /* Index Landing Page DESKTOP */
    
    .bio1{
        h1{
            font-size: 54px ;
        }
    }


    .bio_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .kea_section{

        ul{
            padding-left: 0px;
        }

        li{
            list-style: disc;
        }

    }

    /* About me DESKTOP */
    .aboutme_2grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 25px;
        background: #E8EAE9;
        box-shadow: 28px 28px 50px 0px rgba(13, 39, 80, 0.16), -23px -23px 45px 0px #FFF;
    }

    


    /* Portfolio DESKTOP*/
    .portfolio_body{
        h2{
            padding-left: auto;
            padding-right: auto;
        }
    }
    .portfolio_buttons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 50px;
        margin-bottom: 800px;
    }

    .text_btn{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .h1_h2{
        padding-left: 0px;
    }

    .project_description_intro{
        li{
            margin-left: 20px;
        }
    }

    .project_description{

        p{text-align: center;}
    }


    .img_text{
        display: grid;
        grid-template-columns: 1fr 1fr;
        p{
            padding-left: 25px;
        }
        img{
            object-fit: cover;
            border-radius: 25px;
            border: 2px solid #A7B2C8
            width: 385px;
            height: 315px;
        }
        li{
            margin-left: 50px;
        }
    }

    .text_img{
        display: grid;
        grid-template-columns: 1fr 1fr;
        li{
            margin-left: 25px;
        }
    }

    img{
        object-fit: cover;
        border-radius: 25px;
        border: 2px solid #A7B2C8
        width: 385px;
        /* height: 315px; */
        height: 700px;
    }
    }

    .iframe_container{
        height: 700px;
        border-radius: 100px 100px 0px 0px;
    }


    /* CONTACT */


    .html_form{
        width: 700px;
        height: 350px;
        border-radius: 25px;
        background: #E8EAE9;
        box-shadow: -28px -28px 100px -6px #FFF, 20px 20px 50px 0px rgba(13, 39, 80, 0.25);
    }
    form {
        border-radius: 8px;
        display: grid;
        height: 315px;
        gap: 5px;
        margin-left: 20px;
        margin-right: 20px;
      }

      

    }
}
