/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    img{
        width: 100%;
        height: auto;
    }
}

/* MOBILE SITE */
@media (min-width: 430px){
    /* Gemmer tablet og desktop menu */
    .tablet_menu, .desktop_menu{
        display: none;
    }

    /* MOBILE MENU */
        .phone_menu{
            background-color: aquamarine;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            position: absolute;
            bottom: 0;
            padding: 15px 85px 15px 85px;
            /* padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 85px;
            padding-right: 85px; */
            gap: 15px;
            img{
                border: 2px solid #A7B2C8;
                border-radius: 10px;
            }
        }


    body{
        background-color: black;
    }

}

/* TABLET SITE */
@media (min-width: 768px){
    /* Gemmer tablet og desktop menu */
    .tablet_menu, .desktop_menu{
        display: none;
    }


    body{
        background-color: green;
    }

}

/* DESKTOP SITE */
@media (min-width: 1920px){
    /* Gemmer tablet og desktop menu */
    .tablet_menu, .desktop_menu{
        display: none;
    }


    body{
        background-color: white;
    }

}