/* Fonts */
@font-face {
    font-family: "Dune_Rise";
    src: url(../Assets/Fonts/dune_rise.woff) format(woff);
    font-weight: normal;
    font-style: normal;

}


.inria-sans-regular {
    font-family: "Inria Sans";
    font-weight: 400;
    font-style: normal;
  }

  // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900
.inter-font> {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


/* Styling */
button:hover{
    cursor: pointer;
}


main{
    white-space: normal;
}

h1{
    font-family: Dune_Rise;
    font-size: 40px;
}

h2{
    font-family: "Inria Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    color: #4D48C0;
    padding-left: 20px;
    
}

h3{
    font-family: "Inria Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    color: #686666;
    
}

h4{
    font-family: inter;
    font-weight: 700;
}

p, li{
    font-size: 24pxo;
    font-family: inter;
}


li{
    font-weight: 700;
    padding-left: 20px;
    padding-bottom: 10px;
}

a{
    cursor: pointer;
}

button{
    border-radius: 25px;
    border-color: #E8EAE9;
    box-shadow: 28px 28px 50px 0px rgba(13, 39, 80, 0.16), -23px -23px 45px 0px #FFF;
    margin-top: 25px;
    width: 100%;
    font-family: Dune_Rise;
    color: #4F6483;
    text-align: center;
    font-family: "Dune_Rise";
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}